.products {
    display: flex;
    gap: 2px;
    background-color: #fff;
    border-radius: 20px;
}
.btn-back {
    display: none;
}
.products-wrapper {
    padding-top: 25px;
}
.products-sidebar {
    border-right: 3px solid var(--mainBackColor);
    max-width: 356px;
}
.sidebar-list {
   padding-top: 48px;
   padding-bottom: 50px;
   
}
.sidebar-list--item {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--descrColor);
}
.sidebar-list--item li {
    margin-bottom: 12px;
}
.stages {
    margin-bottom: 8px;
    padding-left: 90px;
}
.sidebar-list--title {
    padding-bottom: 8px;
    padding-left: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-list--title p {
    padding-right: 34px;
}
.sidebar-list--route {
    display: none;
    width: 9px;
    height: 16px;
}
.sidebar-link--text {
    display: block;
    padding-left: 90px;
}
.rotate {
    transform: rotate(90deg)
}
.oil-pumps-title {
    padding-bottom: 16px;
}
.sidebar-link {
    color: var( --linksColor);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding-left: 90px;
}
.name-padding {
    padding-left: 90px;
    padding-right: 5px;
    color: var( --linksColor);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: start;
}
.name-padding:hover {
    color: #fff;
}
.sidebar-list--name:hover {
    background-color: var(--linksColor);
}
.sidebar-list--name:hover .sidebar-link {
    color: #fff;
}
.decor::before {
    content: url(../../images/decor_for_text.svg);
    position: absolute;
    left: 60px;
}
.decor-frost::before {
    content: url(../../images/frost_decor.svg);
    position: absolute;
    left: 60px;
}
.products-item {
    display: flex;
    padding: 48px 70px 200px 71px;
    display: flex;
    gap: 130px;
}
.products-item--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 32px;
    font-family: 'MontserratBold', sans-serif;
}
.products-item--parameter {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 24px;
    font-family: 'MontserratBold', sans-serif;
}
.products-item--list {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.products-item--list li {
    list-style-type: disc;
    margin-bottom: 15px;
    width: 404px;
}
.products-item--char {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    border-bottom: 1px solid var(--linksColor);
    padding-bottom: 8px;
}
.first-char {
    border-top: 1px solid var(--linksColor);
    margin-top: 32px;
}
.document-download {
    display: flex;
    gap: 15px;
    margin-bottom: 27px;
}
.document-image {
    max-width: 400px;
    margin-bottom: 53px;
}
.document-download--file {
    margin-bottom: 3px;
    color: var(--linksColor);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'MontserratBold', sans-serif;
}
.document-download--size {
    color: rgba(60, 60, 59, 0.6);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

@media (max-width: 1490px) {
    .products {
        margin: 0 20px;
    }
}
@media (max-width: 1250px) {
    .products-item {
        padding: 48px 10px 200px 20px;
        gap: 5px;
    }
    .products-item--list {
        font-size: 12px;
        max-width: 300px;
    }
    .products-item--char {
        max-width: 250px;
    }
}

@media (max-width: 930px) {
    .document-image {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .products-item {
        flex-wrap: wrap;
    }
    .stages {
        padding-left: 30px;
    }
    .sidebar-list--title {
        padding-left: 30px;
    }
    .sidebar-link {
        padding-left: 30px;
        font-size: 13px;
    }
    .name-padding {
        padding-left: 30px;
        font-size: 13px;
    }
    .decor::before {
        left: 5px;
    }
    .decor-frost::before {
        left: 5px;
    }
    .products-item {
        padding: 48px 0px 200px 0px;
    }
    .products-item--list {
        font-size: 14px;
        line-height: 18px;
    }
    .products-item--list li {
        list-style-type: none;
    }
}
@media (max-width: 750px) {
    .products-item--documents, .products-item--char, .products-item--list {
        width: 80%;
    }
    .products-sidebar {
        max-width: 200px
    }
}
@media (max-width: 605px) {
    .sidebar-list--route {
        display: block;
    }
    .products-item--list {
        padding-left: 10px;
    }
    .products-item--list li {
        list-style-type: disc;
        max-width: 100%;
    }
    .pages-name--mobile {
        display: none;
    }
    .child-list {
        display: none;
    }
    .openList {
        display: block;
    }
    .products-item {
        display: none;
    }
    .products-mobile {
        padding-left: 16px;
        display: block;
    }
    .decor::before {
        content: none;
    }
    .decor-frost::before {
        content: none;
    }
    .products-sidebar {
        border-right: none;
        max-width: 100%;
        height: 100%;
        top: 100px;
        left: 0;
        position: absolute;
        background-color: white;
        overflow: hidden;
        z-index: 10;
    }
    .sidebar-list {
        width: 100%;
    }
    .sidebar-list--title {
        background-color: var(--mainBackColor);
        padding: 16px;
        border-bottom: 1px solid var(--decorLine);
    }
    .sidebar-link, .stages {
        padding: 0px 16px;
        margin-top: 24px;
    }
    .sidebar-list--name {
        margin-top: 24px;
    }
    .name-padding {
        padding: 0px 16px;
    }
    .mobile-sidebar {
        display: none;
    }
    .products-item--mobile {
        display: block;
        padding-bottom: 48px;
    }
    .btn-back {
        display: block;
        color: #3293FC;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        position: relative;
        padding-left: 40px;
        padding-top: 8px;
    }
    .btn-back::before {
        content: url('../../images/Arrow_right.svg');
        position: absolute;
        left: 10px;
        top: 2px;
        padding-top: 8px;
    }
}