* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
body.noscroll {
    overflow: hidden;
    position: relative;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
button {
    cursor: pointer;
    background-color: transparent;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1476px;
    margin: 0 auto;
}

