:root {
    --mainBackColor: #EBF4FF;
    --colorBtn: #0085FF;
    --linksColor: #3293FC;
    --titlesColor: #1B1A1A;
    --descrColor: #3C3C3B;
    --mainTextColor: #3C3C3B;
    --lineColor: #3C3C3B;
    --burgerColor: #98C9FD;
    --decorLine: rgba(50, 147, 252, 0.5);
}